@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light: #000;
    --secondaryTextColor-light:rgb(51, 51, 51);
    --mainLinkColor-light:#0d79b8;
    --mainBorderColor-light:rgb(202, 202, 202);
    --mainBgColor-light:rgb(249, 250,251);
    --secondaryBgColor-light: #dfdfdf;

    --mainTextColor-dark:rgb(239, 239, 239);
    --secondaryTextColor-dark:#c0c3c4;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#4d5558;
    --mainBgColor-dark:#1c1f22;
    --secondaryBgColor-dark: #262b30;


    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
    --secondaryBgColor: var(--secondaryBgColor-dark)
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    transition: 0.3s;
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 720px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--header{
    display: flex;
    justify-content: space-between;
}

#light-dark{
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}

.btn{
    padding: 0.5em 1em;
}

#dark{
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: var(--mainBorderColor);
}

#light{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: clamp(2em, 5vw , 3em);
    line-height: 1em;
}

#bio{
    text-align: justify;
}

#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#profile-pic:hover{
    border-radius: 10%;
    transition: 1s;
    scale: 1.2;
}

#email{
    color: var(--mainTextColor);
}

#email:hover{
    color: var(--mainLinkColor);
}

#socials-list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#card--social{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 0.9em;
    background-color: var(--secondaryBgColor);
    color: var(--secondaryTextColor);
}

#card--social:hover{
    color: var(--mainLinkColor);
    background-color: var(--mainBorderColor);
}

#qualifications-list{
    list-style: none;
}

#wrapper--skills__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--skills{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 8px;
}

.card--skills:hover{
    background-color: var(--secondaryBgColor);
    cursor: default;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    border-right: 1px solid var(--mainBorderColor);
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

#language-list{
    list-style: none;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
}

.card--project a:hover{
    color: var(--mainLinkColor);
}

@media(max-width:650px){
    #wrapper--hero{
        flex-direction: column;
        gap: 1em;
    }
    
    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .section--page a{
        color: var(--mainLinkColor);
    }

    #bio{
        padding-left: 1em;
        padding-right: 1em;
    }

    #email{
        color: var(--mainLinkColor);
        padding-left: 1em;
    }

    #card--social{
        color: var(--mainLinkColor);
    }

    .card--work-history{
        border-left: none;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
    }
}